*.pyc
__pycache__
db.sqlite3
/env
*.env
.vscode
.DS_Store
reflecto-43fc2-firebase-adminsdk-swvas-12702a6560.json
t2t_api/reflecto-43fc2-firebase-adminsdk-swvas-e6f53778a9.json
staticfiles/
static/
t2t_api/reflecto-google-service-account.json
t2t_api/reflecto-google-console-services.json